torch>=2.0.1
accelerate
appdirs
loralib
bitsandbytes
black
black[jupyter]
datasets
fire
# peft==0.10.0
# transformers==4.43.4
peft
transformers
sentencepiece
py7zr
scipy
optimum
wandb
hydra-core>=1.3.2